@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --font-heading: 'Hanken Grotesk', sans-serif;

    --color-trust-navy: #005677; /* Deep Blue */
    --color-slate-dark: #415363; /* Dark Slate */
    --color-growth-sage: #00A3E0; /* Action Teal */

    /* Landing Page Specific Colors */
    --color-outline: #76777d;
    --color-on-primary: #ffffff;
    --color-primary-fixed: #dae2fd;
    --color-on-secondary-fixed-variant: #0e5138;
    --color-outline-variant: #c6c6cd;
    --color-status-warning: #F59E0B;
    --color-secondary-fixed: #b1f0ce;
    --color-surface-tint: #565e74;
    --color-inverse-primary: #bec6e0;
    --color-primary-container: #131b2e;
    --color-on-error-container: #93000a;
    --color-on-tertiary-fixed: #002113;
    --color-on-secondary: #ffffff;
    --color-on-tertiary-fixed-variant: #005235;
    --color-watermark-text: #CBD5E1;
    --color-on-tertiary-container: #2a9569;
    --color-primary-fixed-dim: #bec6e0;
    --color-on-error: #ffffff;
    --color-on-secondary-container: #316e52;
    --color-surface-container-highest: #e0e3e5;
    --color-status-critical: #DC2626;
    --color-surface-container-low: #f2f4f6;
    --color-surface-container-high: #e6e8ea;
    --color-surface-bright: #f7f9fb;
    --color-primary: #000000;
    --color-on-background: #191c1e;
    --color-surface-container: #eceef0;
    --color-inverse-on-surface: #eff1f3;
    --color-inverse-surface: #2d3133;
    --color-surface-variant: #e0e3e5;
    --color-on-primary-fixed: #131b2e;
    --color-secondary-fixed-dim: #95d4b3;
    --color-on-primary-container: #7c839b;
    --color-surface-container-lowest: #ffffff;
    --color-on-surface-variant: #45464d;
    --color-surface-dim: #d8dadc;
    --color-on-tertiary: #ffffff;
    --color-background: #f7f9fb;
    --color-surface: #f7f9fb;
    --color-on-primary-fixed-variant: #3f465c;
    --color-tertiary-fixed-dim: #75daa8;
    --color-error-container: #ffdad6;
    --color-on-secondary-fixed: #002114;
    --color-tertiary-fixed: #92f7c3;
    --color-status-waiting: #64748B;
    --color-tertiary: #000000;
    --color-tertiary-container: #002113;
    --color-secondary: #2c694e;
    --color-error: #ba1a1a;
    --color-on-surface: #191c1e;
    --color-secondary-container: #aeeecb;

    /* Landing Page Specific Spacing */
    --spacing-margin-page: 32px;
    --spacing-gutter: 24px;
    --spacing-unit: 4px;
    --spacing-widget-gap: 16px;
    --spacing-form-row-gap: 20px;

    /* Landing Page Specific Fonts */
    --font-headline-md: 'Hanken Grotesk', sans-serif;
    --font-body-lg: 'Inter', sans-serif;
    --font-label-md: 'Inter', sans-serif;
    --font-data-mono: 'JetBrains Mono', monospace;
    --font-body-sm: 'Inter', sans-serif;
    --font-headline-lg: 'Hanken Grotesk', sans-serif;
    --font-headline-lg-mobile: 'Hanken Grotesk', sans-serif;
    --font-headline-xl: 'Hanken Grotesk', sans-serif;
    --font-body-md: 'Inter', sans-serif;

    /* Landing Page Specific Font Sizes & Line Heights */
    --text-headline-md: 24px;
    --text-headline-md--line-height: 32px;
    --text-body-lg: 18px;
    --text-body-lg--line-height: 28px;
    --text-label-md: 12px;
    --text-label-md--line-height: 16px;
    --text-data-mono: 13px;
    --text-data-mono--line-height: 18px;
    --text-body-sm: 14px;
    --text-body-sm--line-height: 20px;
    --text-headline-lg: 32px;
    --text-headline-lg--line-height: 40px;
    --text-headline-lg-mobile: 28px;
    --text-headline-lg-mobile--line-height: 36px;
    --text-headline-xl: 40px;
    --text-headline-xl--line-height: 48px;
    --text-body-md: 16px;
    --text-body-md--line-height: 24px;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-trust-navy);
    --color-accent-content: var(--color-trust-navy);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-zinc-100);
        --color-accent-content: var(--color-zinc-100);
        --color-accent-foreground: var(--color-zinc-900);
    }
}

[data-flux-heading], h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading) !important;
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
